* {
    outline: 1px solid red !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}
.row {
    width: 100%;
    margin: auto;
    display: flex;
}
header {
    text-align: center;
    font-size: xx-large;
}
#title {
    background-color: #84ced1;
}
#projects {
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.col-6 {
    display: flex;
    align-items: center;
    margin: auto;
}
.link_pic {
    text-align: center;
    min-width: 50%;
}
p {
    margin: 10%;
    text-align: justify;
    font-size: x-large;
}
a {
    margin: auto;
    text-align: center;
}
img:hover {
    opacity: 0.3;
}
#me_pic {
    max-width: 40%;
    height: auto;
}
.projects img {
    max-width: 80%;
    height: auto;
}
#fraud_pic {
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 769 max-width: 1023px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    header {font-size: large;}
    p {font-size: large;}
}
@media only screen and (max-width: 768px) {
    /*for smartphones*/
    .row {display: block;}
    header {font-size: large;}
    p {font-size: large;}
}