html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #84ced1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

nav h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.9rem;
    font-size: 1.5rem;
}

nav ul a {
    list-style-type: none;
    display: flex;
    gap: 1.9rem;
    color: #000;
}

.burger-menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

p {
    text-align: justify;
    font-size: 1.5rem;
    white-space: pre-line;
}

.grid {
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 0 0;
}

.bio {
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 2.5%;
}

.section-headers {
    text-align: center;
    margin-bottom: 2%;
}

#projects {
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.projects {
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 2.5%;
    margin: 0 10% 2.5% 10%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link_pic {
    text-align: center;
    min-width: 50%;
}

.more-about p{
    margin: 0 10%;
}

.functions-list  {
    text-align: justify;
    font-size: 1rem;
    margin: 0 10% 0 15%;
}

a {
    margin: auto;
    text-align: center;
}
a:hover {
    opacity: 0.3;
}

#me_pic {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.projects img {
    max-width: 80%;
    height: auto;
}

#fraud_pic {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #84ced1;
    text-align: center;
}
footer a {
    color: #000;
    font-size: 2rem;
    text-decoration-line: none;
}

@media only screen and (max-width: 1400px), handheld and (orientation: portrait) {
    /* For tablets: */
    .projects {display: block;}
    p {font-size: 1.5rem;}
    #me_pic {
        max-width: 70%;
        min-width: 40%;
        height: auto;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    #viz_pic {
        max-width: 70%;
        height: auto;
    }
    #fraud_pic {
        max-width: 100%;
        height: auto;
    }
    #election_pic, #wrangle_pic {
        max-width: 60%;
        height: auto;
    }
}

@media only screen and (max-width: 700px), handheld and (orientation: portrait) {
    /*for smartphones*/
    .hero {
        display: block;
        align-items: center;
        justify-content: center;
        margin: 5% 5% 0 5%;
    }
    .bio {
        margin-top: 5%;
    }
    .bio h2 {
        text-align: center;
    }
    .bio p {
        margin: 0 5%;
    }
    #me_pic {
        max-width: 50%;
        height: auto;
    }
    #projects {
        margin-top: 10%;
        margin-bottom: 2.5%;
    }
    .projects {
        margin: 2.5% 5% 2.5% 5%;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    .row {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .row p {
        margin: 0 5%;
    }
    #viz_pic, #fraud_pic {
        max-width: 70%;
        height: auto;
    }
}