html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #84ced1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

nav h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.9rem;
    font-size: 1.5rem;
}

nav ul a {
    list-style-type: none;
    display: flex;
    gap: 1.9rem;
    color: #000;
}

.burger-menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

p {
    margin: 10%;
    text-align: justify;
    font-size: 1.5rem;
    white-space: pre-line;
}

.grid {
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
}

.hero {
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.section-headers {
    text-align: center;
}

#projects {
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.col-6 {
    display: flexbox;
    align-items: center;
    margin: auto;
}

.link_pic {
    text-align: center;
    min-width: 50%;
}

#about p {
    margin: 0 10% 0 0;
}

.more-about p{
    margin: 0 10%;
}

.functions-list  {
    text-align: justify;
    font-size: 1rem;
    margin: 0 10% 0 15%;
}

a {
    margin: auto;
    text-align: center;
}
a:hover {
    opacity: 0.3;
}

#me_pic {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.projects img {
    max-width: 80%;
    height: auto;
}

#fraud_pic {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #84ced1;
    text-align: center;
}

@media only screen and (max-width: 1400px), handheld and (orientation: landscape) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .projects {display: block;}
    p {font-size: 1.5rem;}
    #me_pic {
        max-width: 70%;
        min-width: 40%;
        height: auto;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    #viz_pic {
        max-width: 70%;
        height: auto;
    }
    #fraud_pic {
        max-width: 100%;
        height: auto;
    }
    #election_pic, #wrangle_pic {
        max-width: 60%;
        height: auto;
    }
}

@media only screen and (max-width: 700px), handheld and (orientation: portrait) {
    /*for smartphones*/
    .row {display: block;}
    .hero h2 {
        text-align: center;
        margin: 10% 0 0 0;
    }
    #intro p {
        margin: 0 10%;
    }
    #me_pic {
        max-width: 50%;
        height: auto;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    #viz_pic, #fraud_pic {
        max-width: 70%;
        height: auto;
    }
}