
/* General */
html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.0rem;
}
h3 {
   font-size: 1.5rem; 
}
p {
    text-align: left;
    font-size: 1.5rem;
    white-space: pre-line;
}
a {
    margin: auto;
    text-align: center;
    color: #84ced1;
    font-weight: bold;
}
a:hover {
    opacity: 0.3;
}
button:hover {
    opacity: 0.3;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1% 10%;
    background-color: #84ced1;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.top-ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.9rem;
    font-size: 1.5rem;
}
nav ul li a {
    list-style-type: none;
    display: inline-block;
    color: #000;
    text-decoration-line: none;
}
.burger-menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.burger-menu-x {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/* Main */
.grid {
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}
.section-headers {
    text-align: left;
    margin: 0 10% 1% 10%;
}

/* Hero Banner*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 0 0;
}
#me_pic {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}
.bio p {
    margin-bottom: 5%;
}
.social a {
    font-size: 3rem;
    text-decoration-line: none;
}

/* More About Section*/
.more-about {
    align-items: center;
    justify-content: center;
    margin: 5% 10% 2.5% 10%;
}
.more-about header {
    margin: 1% 0;
}

/* Projects Section */
#projects {
    margin-top: 5%;
}
.project-headers {
    text-align: center;
    margin-bottom: 2rem;
}
.projects {
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 2.5%;
    margin: 0 10% 2.5% 10%;
}
.projects img {
    max-width: 80%;
    height: auto;
}
.projects p {
    margin-left: 5%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.link_pic {
    text-align: center;
    min-width: 50%;
}
#fraud_pic {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #84ced1;
    text-align: center;
    padding: 1rem 0 0 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
footer a {
    color: #000;
}

/* @media only screen and (max-width: 1400px), handheld and (orientation: portrait) {
    .projects {display: block;}
    p {font-size: 1.5rem;}
    #me_pic {
        max-width: 70%;
        min-width: 40%;
        height: auto;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    #viz_pic {
        max-width: 70%;
        height: auto;
    }
    #fraud_pic {
        max-width: 100%;
        height: auto;
    }
    #election_pic, #wrangle_pic {
        max-width: 60%;
        height: auto;
    }
} */

@media only screen and (max-width: 1400px){
    /*for smartphones*/

    /* General */
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
       font-size: 1.25rem; 
    }
    p {
        font-size: 1.25rem;
    }

    /* Nav */
    nav {
        padding: 1% 5%;
    }
    .top-ul {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }
    .top-ul.show {
        display: flex;
    }
    .burger-menu {
        display: flex;
    }
    .burger-menu.show {
    display: none;
    }
    #burger-menu-x {
    display: none;
    }
    #burger-menu-x.show {
    display: flex;
    }
    /* .bottom-nav {
        z-index: 3;
        padding: 1% 10%;
        background-color: #84ced1;
        display: flex;
        justify-content: right;
        transform: translateY(-200%);
        transition: transform 0.5s ease-in;
    } */
    /* .bottom-nav.show {
        transform: translateY(0);
    } */

    /* Hero */
    .hero {
        display: block;
        align-items: center;
        justify-content: center;
        margin: 5% 2.5% 0 2.5%;
    }
    #me_pic {
        max-width: 40%;
    }
    .bio p{
        margin: 0 2.5% 5% 2.5%;
    }
    .hero .social {
        margin: 0 0 0 2.5%;
    }

    /* More About */
    .more-about {
        margin: 10% 5% 2.5% 5%;
    }

    /* Projects */
    #projects header {
        margin: 10% 5% 2.5%;
    }
    .projects {
        display: block;
        margin: 2.5% 5% 5% 5%;
    }
    .projects img {
        max-width: 80%;
        height: auto;
    }
    .row {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .row p {
        margin: 2.5%;
    }
    #viz_pic, #fraud_pic {
        max-width: 70%;
        height: auto;
    }
}